<div class="modal fade" id="bluetooth-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">bluetooth</h5>
      </div>
      <div class="modal-body">
        <p>status: disconnected</p>
        <button class="btn btn-primary">setup bluetooth</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>