<div class="btn-group btn-group-lg" style="margin: 25px 10px;">
  <button class="btn btn-secondary btn-lg" id="btn-defrost">max defrost</button>
  <button class="btn btn-primary btn-lg" id="btn-max-cool">max cool</button>
  <button class="btn btn-secondary btn-lg" id="">zone</button>
  <button class="btn btn-secondary btn-lg" id="">auto</button>
  <button class="btn btn-danger btn-lg" id="">rear</button>
  <!-- <button class="btn btn-secondary btn-lg" id="">a/c</button>
  <button class="btn btn-secondary btn-lg" id="">recirculate</button> -->
  <button class="btn btn-secondary btn-lg" id="btn-ac-off">off</button>
</div>