<!doctype html>
<html>
<head>
  <title>carvis</title>

  <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}>


  <style type="text/css"> 
    .nav-item {
      padding: 0px 20px;
    }
    body, div {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse bg-primary navbar-toggleable-xl" style="font-size: 2rem;">

  <div class="container" style="margin: 0">
    <a class="navbar-brand" id="title" style="font-size: 1em;">carvis</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item pull-xs-right" id="bluetooth-status">
          <i class="fa fa-mobile"></i>
        </li>
        <li class="nav-item pull-xs-right" id="settings-icon">
          <i class="fa fa-cog"></i>
        </li>
        <li class="nav-item pull-xs-right" id="volume-toggle">
          <i class="fa fa-volume-up" id="volume-toggle-on"></i>
          <i class="fa fa-volume-off" id="volume-toggle-off"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2" id="display-time" style="text-align: center;"></h1>
  </div>
</div>


<div class="content" style="padding: 10px;">

<button class="btn btn-success btn-lg" id="btn-roll-up">roll up</button>

</br>

</div>




<div id="climate-control">

<div style="margin: 15px 0px;" class="btn-group btn-group-lg">
  <button class="btn btn-secondary btn-lg" id="btn-defrost">defrost</button>
  <button class="btn btn-secondary btn-lg" id="btn-max-cool">max cool</button>
  <button class="btn btn-secondary btn-lg" id="btn-ac-off">ac off</button>
</div>

</div>

<div class="audio-control" style="height: 150px; width: 100%; text-align: center; background-color: ">

<div id="audio-control" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" id="audio-primary-info" style="text-align: center;">song title</h1>
    <p class="lead">secondary</p>
  </div>
  <button id="audio-previous" class="btn btn-lg btn-primary"><<</button>
  <button id="audio-playpause" class="btn btn-lg btn-primary"><i class="fa fa-pause"></i></button>
  <button id="audio-next" class="btn btn-lg btn-primary">>></button>
  <!-- maybe add album art? -->
</div>


</div>



<!-- import stuff -->
{% include 'bluetooth.html' %}
{% include 'settings.html' %}




<!-- js stuff -->

<!-- external dependencies -->
<script src={{ url_for('static', filename='lib/jquery.min.js') }}></script>
<script src={{ url_for('static', filename='lib/tether.min.js') }}></script>
<script src={{ url_for('static', filename='lib/bootstrap.min.js') }}></script>
<script src={{ url_for('static', filename='lib/bootbox.min.js') }}></script>
<script src={{ url_for('static', filename='lib/socket.io.js') }}></script>
<!-- includes -->
<script src={{ url_for('static', filename='main.js') }}></script>
<script src={{ url_for('static', filename='bluetooth.js') }}></script>
<script src={{ url_for('static', filename='settings.js') }}></script>

</body>
</html>