<!doctype html>
<html>
<head>
  <title>carvis</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </style>

</head>
<body>

<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="">carvis</a>

</nav>

<div class="content" style="padding: 10px;">


<button class="btn btn-success btn-lg" id="btn-roll-up">roll up</button>



<div style="margin: 15px 0px;">
  <button class="btn btn-lg" id="btn-defrost">defrost</button>
  <button class="btn btn-lg" id="btn-max-cool">max cool</button>
  <button class="btn btn-lg" id="btn-ac-off">ac off</button>
</div>


<button class="btn btn-lg btn-primary" id="btn-update">update</button>

</div>



<!-- js stuff -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" crossorigin="anonymous"></script>



<script src={{ url_for('static', filename='main.js') }}></script>

</body>
</html>