<!doctype html>
<html>
<head>
  <title>carvis</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}>

  <style type="text/css"> 
    body {
      /*position: fixed;*/
      /*overflow: hidden;*/
      width: 100vw;
      height: 100vh;
    }
    body, div {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    .nav-item {
      padding: 0px 20px;
    }
    .no-margin {
      margin: 0;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark navbar-toggleable-xl" style="font-size: 2rem;">
  <div class="container" style="margin: 0">
    <a class="navbar-brand" id="title" style="font-size: 1em; color: white;">carvis</a>
    <div class="navbar-collapse collapse">
<!--       <ul class="nav navbar-nav">
        <li class="nav-item pull-xs-right" id="bluetooth-status">
          <i class="fa fa-mobile"></i>
        </li>
        <li class="nav-item pull-xs-right" id="settings-icon">
          <i class="fa fa-cog"></i>
        </li>
        <li class="nav-item pull-xs-right" id="volume-toggle">
          <i class="fa fa-volume-up" id="volume-toggle-on"></i>
          <i class="fa fa-volume-off" id="volume-toggle-off"></i>
        </li>
      </ul> -->
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid no-margin" style="padding: 15px;">
  <div class="container-fluid no-margin"   >
    <div class="row" style="margin: 0 auto; width: 100%">
      <h1 class="display-2 col-9" id="display-time" style="text-align: center; font-size: 70px;"></h1>
      <h1 class="display-2 col-2" id="display-wifi-status" style="text-align: center; font-size: 70px; color: red"><i class="fa fa-wifi"></i></h1>
      <h1 class="display-2 col-1" id="display-bluetooth-status" style="text-align: center; font-size: 70px; color: red"><i class="fa fa-bluetooth-b"></i></h1>
    </div>
  </div>
</div>



{% include 'map.html' %}

<div class="content" style="padding: 10px;">

<button class="btn btn-success btn-lg" id="btn-roll-up">roll up</button>

</br>

</div>




<div id="climate-control" style="background-color: #2E2E2E; height: 100px; line-height: 2;">
{% include 'climatecontrol.html' %}
</div>

<div class="audio-control" style="width: 100%; text-align: center;">
{% include 'music.html' %}
</div>

<div class="phone" style=" width: 100%; text-align: center;">
{% include 'phone.html' %}
</div>


<!-- import stuff -->
{% include 'bluetooth.html' %}
{% include 'settings.html' %}


<!-- js stuff -->

<!-- dependencies -->
<script src={{ url_for('static', filename='lib/jquery.min.js') }}></script>
<script src={{ url_for('static', filename='lib/tether.min.js') }}></script>
<script src={{ url_for('static', filename='lib/bootstrap.min.js') }}></script>
<script src={{ url_for('static', filename='lib/bootbox.min.js') }}></script>
<script src={{ url_for('static', filename='lib/socket.io.js') }}></script>

<script src={{ url_for('static', filename='main.js') }}></script>
<script src={{ url_for('static', filename='bluetooth.js') }}></script>
<script src={{ url_for('static', filename='settings.js') }}></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOKxTuQAuqxxUK3aeqeuKHpwGBvqk4JHM&callback=map"></script>

</body>
</html>