<div id="audio-control" class="jumbotron jumbotron-fluid">

  <div id="audio-no-music">
    <div class="container">
      <h1 class="display-2" style="text-align: center;">spotify unavailable</h1>
    </div>
  </div>

  <div id="audio-player" class="row" style="padding: 0 25px;">
    <div class="col-3">
      <img src={{ url_for('static', filename='music.png') }} onerror="this.src={{ url_for('static', filename='music.png') }}" id="audio-album-art" height="200px" width="200px">
    </div>

    <div class="col-9">
      <div class="container">
        <h1 class="display-4" id="audio-primary-info" style="text-align: center;">song title</h1>
        <p class="lead" id="audio-secondary-info">secondary</p>
      </div>
      <button id="audio-previous" class="btn btn-lg btn-dark"><i class="fa fa-step-backward"></i></button>
      <button id="audio-playpause" class="btn btn-lg btn-dark"><i class="fa fa-pause"></i></button>
      <button id="audio-next" class="btn btn-lg btn-dark"><i class="fa fa-step-forward"></i></button>
    </div>
  </div>
</div>
