<div id="audio-control" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" id="audio-primary-info" style="text-align: center;">song title</h1>
    <p class="lead" id="audio-secondary-info">secondary</p>
  </div>
  <button id="audio-previous" class="btn btn-lg btn-dark"><i class="fa fa-step-backward"></i></button>
  <button id="audio-playpause" class="btn btn-lg btn-dark"><i class="fa fa-pause"></i></button>
  <button id="audio-next" class="btn btn-lg btn-dark"><i class="fa fa-step-forward"></i></button>
</div>
